.nav
    .nav__logo
        img(class="logo" src="/img/logo.svg" alt="Mountains")
    ul.nav__links
        li(class="nav__item"): a(class="nav__link " href="#section--1") Adventures
        li(class="nav__item"): a(class="nav__link " href="#section--2") Gallery 
        li(class="nav__item"): a(class="nav__link " href="#section--3") Newsletter