extends base

block content 
    section.header
        .header__text
            //- h2.header__text--intro Experience the best adventures in the
            h1.header__text--trip= `${trek.name}`
            //- button(href="#section--1").btn-submit.btnToTrips Explore Adventures
    section.tripdetails
        .trip_intro
            .trip_intro--summary
                p= `${trek.summary}`
            .trip_intro--description
                p= `${trek.description}`
