@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;1,600&family=Fjalla+One&family=Fredericka+the+Great&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

body {
  padding: 1.5rem;
  font-size: 1.6rem;
  line-height: 1.7;
  font-family: var(--font-text);
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

:root {
  --font-text: "Montserrat", sans-serif;
  --font-heading: "Fjalla One", sans-serif;
  --font-hero: "Fredericka the Great", cursive;
  --earth: #5f4620;
  --earth-label: #5f4620ce;
  --grey: #f9f7f7;
  --brown: #c08e23;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 4rem 8rem;
  align-items: center;
}
@media (max-width: 75em) {
  .nav {
    padding: 4rem 4rem;
  }
}
@media (max-width: 56.25em) {
  .nav {
    padding: 4rem 2rem;
  }
}
.nav__links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}
@media (max-width: 56.25em) {
  .nav__links {
    display: block;
  }
}
.nav__link:link, .nav__link:visited {
  letter-spacing: 1.5px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: white;
  margin: 0 3rem;
  transition: all 0.2s;
  padding-bottom: 1.5rem;
  border-bottom: 2px solid transparent;
}
.nav__link:hover {
  padding-bottom: 1.5rem;
  border-bottom: 2px solid var(--brown);
}
.nav__link:active {
  padding-bottom: 1.5rem;
  border-bottom: 2px solid transparent;
}

.logo {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 100px;
  width: 75px;
  height: 75px;
  padding-top: 6px;
}

.sticky {
  position: fixed;
  background-color: rgba(95, 70, 32, 0.95);
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  z-index: 9999;
  padding: 1.5rem 8rem;
}

.header {
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.6)), url(../../images/hero.jpg);
  background-size: cover;
  background-position: center;
  height: 96vh;
  position: relative;
}
.header__text {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  line-height: 1.5;
}
.header__text--intro {
  color: white;
  font-size: 2rem;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-family: var(--font-heading);
}
@media (max-width: 56.25em) {
  .header__text--intro {
    font-size: 1.8rem;
  }
}
.header__text--hero {
  margin-bottom: 2rem;
  color: white;
  text-transform: uppercase;
  font-size: 5rem;
  letter-spacing: 21px;
  font-family: var(--font-hero);
}
@media (max-width: 56.25em) {
  .header__text--hero {
    font-size: 4.5rem;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: [fullbleed-start] minmax(2rem, 1fr) [center-start] repeat(6, [col-start] 1fr [col-end]) [center-end] minmax(2rem, 1fr) [fullbleed-end];
}

.section-heading {
  font-family: var(--font-heading);
  text-transform: uppercase;
  text-align: center;
  font-size: 3.5rem;
  color: var(--earth);
  letter-spacing: 15px;
  margin: 8rem 0;
}

.trips {
  grid-column: center-start/center-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
  grid-gap: 10rem;
}

.trip__name {
  padding: 1rem;
  font-size: 2rem;
  font-family: var(--font-heading);
  text-transform: uppercase;
  background-color: var(--earth);
  color: #fff;
  text-align: center;
  letter-spacing: 1.5px;
}
.trip__photo {
  width: 100%;
}
.trip__details {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  font-weight: 300;
  justify-items: center;
  background-color: var(--grey);
}
.trip__details--height, .trip__details--difficulty, .trip__details--days, .trip__details--size {
  display: flex;
}
.trip__details--info {
  padding: 1.5rem;
  display: grid;
  grid-template-columns: repeat(2, minmax(max-content, 1fr));
  justify-items: center;
  align-items: center;
  background-color: #eeeded;
}
.trip__price {
  font-family: var(--font-heading);
  text-transform: uppercase;
  font-size: 2rem;
  color: var(--earth);
}

.tripIcons {
  margin-right: 1rem;
}

.gallery {
  grid-column: fullbleed-start/fullbleed-end;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(7, 5vw);
  grid-gap: 1vw;
}
.gallery__photos {
  width: 100%;
  overflow: hidden;
}
.gallery__photos > img {
  transition: all 0.5s;
  transform: scale(1.03);
}
.gallery__photos > img:hover {
  transform: scale(1.15);
}
.gallery__photos--1 {
  grid-column: 1/span 2;
  grid-row: 1/span 2;
}
.gallery__photos--2 {
  grid-column: 1/span 2;
  grid-row: 3/-1;
}
.gallery__photos--3 {
  grid-column: 3/span 3;
  grid-row: 1/span 3;
}
.gallery__photos--4 {
  grid-column: 3/span 1;
  grid-row: 4/span 2;
}
.gallery__photos--5 {
  grid-column: 4/span 2;
  grid-row: 4/span 2;
}
.gallery__photos--6 {
  background-position: center;
  grid-column: 3/span 3;
  grid-row: 6/span 2;
}
.gallery__photos--7 {
  grid-column: 6/span 3;
  grid-row: 5/-1;
}
.gallery__photos--8 {
  grid-column: 7/span 2;
  grid-row: 1/span 4;
}
.gallery__photos--9 {
  background-position: center;
  grid-column: 6/span 1;
  grid-row: 1/span 3;
}
.gallery__photos--10 {
  grid-column: 6/span 1;
  grid-row: 4/span 1;
}
.gallery__photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.footer {
  padding: 5rem 0;
  background-color: var(--earth);
  grid-column: fullbleed-start/fullbleed-end;
  letter-spacing: 1px;
  font-size: 1.4rem;
  font-weight: 300;
  text-align: center;
  color: white;
}
.footer__logobox {
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
}
.footer__about {
  width: 50%;
  margin: 5rem auto;
}
.footer__links {
  margin: 10rem 5rem 0 5rem;
  display: flex;
  justify-content: space-between;
}
.footer__links--navigation {
  display: flex;
  list-style: none;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.footer__links--navigation > li {
  cursor: pointer;
  margin: 0 2rem;
  transition: all 0.2s;
}
.footer__links--navigation > li:hover {
  color: var(--brown);
  transform: translateY(-3px);
}
.footer__links--socialmedia {
  display: flex;
  list-style: none;
  text-transform: uppercase;
  align-items: center;
  letter-spacing: 1px;
}
.footer__links--socialmedia > li {
  font-size: 2.5rem;
  cursor: pointer;
  margin: 0 2rem;
  transition: all 0.2s;
}
.footer__links--socialmedia > li:hover {
  color: var(--brown);
}

.booking {
  padding: 10rem 0;
  background-color: var(--brown);
}
.booking__container {
  margin: auto 15rem;
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.7) 50%, transparent 50%), url(../../images/booking.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.5);
}
@media (max-width: 56.25em) {
  .booking__container {
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.7) 50%, rgba(255, 255, 255, 0.7) 100%), url(../../images/booking.jpg);
  }
}

.btn:link,
.btn:visited {
  background-color: var(--brown);
  text-transform: uppercase;
  border-radius: 30px;
  font-weight: 300;
  padding: 1.5rem 3rem;
  text-decoration: none;
  color: white;
  letter-spacing: 1px;
  transition: all 0.2s;
  display: inline-block;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1.5rem 1rem rgba(255, 255, 255, 0.15);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 1.5rem 1rem rgba(0, 0, 0, 0.15);
  color: var(--earth);
}

.btn-trip {
  padding: 0.5rem 1.5rem !important;
}

.btn-trip:hover {
  box-shadow: 0 1.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.btn-trip:active {
  color: white;
}

.btn-submit {
  margin-top: 4rem;
  background-color: var(--brown);
  text-transform: uppercase;
  border-radius: 30px;
  font-weight: 500;
  padding: 1.5rem 2rem;
  text-decoration: none;
  color: white;
  letter-spacing: 1px;
  transition: all 0.2s;
  border: none;
  cursor: pointer;
}
.btn-submit:focus {
  outline: none;
}

.btn-submit:hover {
  transform: translateY(-3px);
  box-shadow: 0 1.5rem 1rem rgba(255, 255, 255, 0.15);
}

.btn-submit:active {
  transform: translateY(-1px);
  box-shadow: 0 1.5rem 1rem rgba(0, 0, 0, 0.15);
}

.form {
  width: 50%;
  padding: 5rem;
}
@media (max-width: 56.25em) {
  .form {
    width: 100%;
  }
}
.form__group:not(:last-child) {
  margin-bottom: 3rem;
}
.form__heading {
  font-family: var(--font-heading);
  font-size: 4rem;
  text-transform: uppercase;
  color: var(--earth);
  letter-spacing: 2px;
  margin-bottom: 2rem;
}
.form__input {
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 100%;
  display: block;
}
.form__input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  border-bottom: 3.5px solid var(--brown);
}

/*# sourceMappingURL=style.css.map */
