.name {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 300;
}

.bio {
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: lightblue;
  display: inline;
}

.skill {
  background-color: purple;
  font-weight: 200;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: white;
  padding: 5px;
  border-radius: 5px;
}
.skill-container {
  display: flex;
  gap: 5px;
}
