section
        .section.footer
            .footer__logobox
                img(class="logo" src="img/logo.svg" alt="Destination Annapurna Logo")
            .footer__about
                p Destination Annnapura is an indendent company dedictated to the making the Annapurn region accessible to adventurers from all over the world. We are commited also to the locals of the Annapurana region to assist in the protection the nature and ensure sustainablity.
            a(href="#" class="btn") Tell me More!
            .footer__links
                ul(class="footer__links--navigation")
                    li About
                    li Impressium
                    li Press
                    li Jobs 
                ul(class='footer__links--socialmedia')
                    li: i(class="fab fa-instagram")
                    li: i(class="fab fa-facebook-square")
                    li: i(class="fab fa-twitter-square")