  <section class="header">
      <div class="header__text">
        <h2 class="header__text--intro">
          Experience the best adventures in the
        </h2>
        <h1 class="header__text--hero">Annapurna<br />himalayas</h1>
        <button href="#section--1" class="btn-submit btnToTrips">Explore Adventures</button>
      </div>
    </section>