// font-family: 'Crimson Pro', serif;
// font-family: 'Fjalla One', sans-serif;
// font-family: 'Fredericka the Great', cursive;

:root {
  //Fonts
  --font-text: "Montserrat", sans-serif;
  --font-heading: "Fjalla One", sans-serif;
  --font-hero: "Fredericka the Great", cursive;
  --earth: #5f4620;
  --earth-label: #5f4620ce;
  --grey: #f9f7f7;
  --brown: #c08e23;
}
