.trip_info {
  display: grid;
  grid-template-columns: 4fr 1fr;
}
.trip_intro {
  padding: 8rem 15rem;
}

.trip_intro--name {
  font-size: 3rem;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-family: var(--font-heading);
  margin-bottom: 1.5rem;
}

.trip_intro--summary {
  font-size: 2rem;
  letter-spacing: 2px;
  /* font-weight: 800; */
  text-align: justify;
  text-justify: inter-word;
  line-height: 1.8;
  margin-bottom: 1.5rem;
  color: black;
  font-family: var(--font-hero);
}

.trip_intro--description {
  text-align: justify;
  text-justify: inter-word;
  line-height: 2;
}

.trip_facts {
  padding: 8rem 0;
}

.trip_facts--title {
  font-family: var(--font-heading);
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
  color: var(--earth);
}

.trip_facts--details {
  display: grid;
  grid-gap: 2rem;
  font-size: 1.5rem;
  color: var(--earth);
}
