.content-grid {
  min-height: 80vh;
  margin: 4rem 0;
  display: grid;
  grid-template-columns:
    [fullbleed-start] minmax(6rem, 1fr) [center-start] repeat(
      6,
      [col-start] 1fr [col-end]
    )
    [center-end] minmax(6rem, 1fr) [fullbleed-end];
}
