.add-option--error {
  color: $off-white;
  font-style: italic;
  font-weight: bolder;
  margin-top: $s-size;
  padding: 0 $m-size;
}

.add-option {
  display: flex;
  padding: $s-size;
}

.add-option__input {
  flex-grow: 1;
  background-color: $dark-blue;
  color: $off-white;
  padding: $s-size;
  border: none;
  border-bottom: 0.3rem solid darken($dark-blue, 10%);
  margin-right: $s-size;
}
