.trip_info {
  display: grid;
  grid-template-columns: 4fr 1fr;
}
.trip_intro {
  padding: 8rem 15rem;

  &--name {
    font-size: 3rem;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-family: var(--font-heading);
    margin-bottom: 1.5rem;
  }

  &--summary {
    font-size: 1.6rem;
    letter-spacing: 2px;
    text-align: justify;
    text-justify: inter-word;
    line-height: 1.8;
    margin-bottom: 1.5rem;
    color: black;
    font-family: var(--font-hero);
  }

  &--description {
    text-align: justify;
    text-justify: inter-word;
    line-height: 2;
  }
}

.trip__facts {
  padding: 8rem 0;

  &--title {
    font-family: var(--font-heading);
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
    color: var(--earth);
  }

  &--details {
    display: grid;
    grid-gap: 2rem;
    font-size: 1.5rem;
    color: var(--earth);
  }
}

.trek__facts--height,
.trek__facts--difficulty,
.trek__facts--days,
.trek__facts--size {
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  grid-column-gap: 2rem;
}

.trek_icons {
  font-size: 2.5rem;
}

.trip__gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5rem;

  .trip__gallery--frame {
  }

  &--photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
