.trip
    img(class="trip__photo"
        src="/images/annapurna-base-camp.jpg"
        alt="Annapurna Base Camp")
    h4.trip__name Annapurna Base Camp
        .trip__details
            .trip__details--height
                p: span(class="tripIcons"): i(fas fa-mountain): 4130m