.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80rem;
  margin: 0 auto;
}
.brand {
  color: $brand;
}
.statsCard {
  color: white;
  background-color: $purple;
  padding: 4rem;
}
.statsCard--intro {
  margin: 0;
  font-size: 3rem;
  font-family: Arial, Helvetica, sans-serif;
}

.statsCard--text {
  font-size: 1.2rem;
  line-height: 1.5;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: $off-black;
}

.statsCard-stat {
  display: flex;
}

.statsCard--photo {
  background-color: $brand;
}

.statsCard--photo__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.statsCard-stat-container {
  margin-top: $m-size;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.statsCard-stat-fig {
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 1px;
}

.statsCard-stat-label {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 1px;
}
